@media (min-width: 900px) {
  /*  header  */
  .eng {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
  }

  .lang-text {
    display: flex;
    color: var(--white);
    margin: 0 1rem;
    padding: 0.1rem;
    border: 0.1rem solid var(--white);
    border-radius: 20px;
    width: 5rem;
    height: 2.4rem;
    justify-content: center;
  }

  .lan {
    margin-right: 0.1rem;
  }
}
